@charset "UTF-8";
/* Opciones Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

/*Flecha hacia arriba*/
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 14px;
  text-decoration: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
}
.scroll-to-top:hover {
  opacity: 0.7;
  color: whitesmoke;
}
.scroll-to-top i {
  animation: arrow-up 1s infinite alternate;
}

@keyframes arrow-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
/*FIN Flecha hacia arriba*/
/*INICIO SOBRE MI AND MEDIA */
.about-me {
  background-color: whitesmoke;
}

.section-container {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: whitesmoke;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: black;
  margin-bottom: 1rem;
}
.title .span {
  font-weight: 600;
}

.description {
  line-height: 1.8rem;
  color: black;
  margin-bottom: 2rem;
  font-size: 18px;
  font-weight: 500;
}

.action-btns {
  display: flex;
  gap: 1rem;
}
.action-btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 1rem;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 1s ease;
  color: whitesmoke;
  background-color: black;
  cursor: pointer;
}
.action-btns button:hover {
  color: black;
  background-color: whitesmoke;
}
.action-btns button a {
  text-decoration: none;
  color: whitesmoke;
}
.action-btns button a:hover {
  color: black;
}

.blog-image {
  display: grid;
  place-items: center;
}
.blog-image img {
  width: min(200px, 80%);
  border-radius: 90%;
}

@media (max-width: 750px) {
  .section-container {
    padding: 10rem 1rem 5rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-image {
    grid-area: 1/1/2/2;
  }
  .action-btns {
    margin: auto;
  }
}
/*FIN SOBRE MI AND MEDIA */
/* INICIO SERVICIOS */
.display-servicios {
  gap: 30px;
  display: grid;
  align-items: center;
}

.background-servicios {
  background-image: url(../Img/background-servicios.avif);
  background-size: cover;
  border: solid 1px white;
}

.servicios-imagenes {
  gap: 30px;
  display: grid;
  justify-content: space-evenly;
  grid-template-areas: "express1 manicure-basic2 manicure-premium3" "podoestetica4 pedicure-basic5 pedicure-premium6" "esmaltado-sempiermanente7 esmaltado-decoracion8 esmaltado-shine9" "servicio-esculpidas10 servicio-vip11 servicio-beauty12";
  grid-template-columns: 3, 1fr;
}

.background-imagen {
  background-color: #FFECEC;
  display: grid;
  justify-items: center;
  margin: 50px;
  transition: transform 0.2s;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.background-imagen:hover {
  transform: scale(1.1);
}
.background-imagen p {
  font-weight: bolder;
}

/* FIN SERVICIOS */
/*INICIO Contacto AND MEDIA*/
.first-col {
  background-color: white;
  height: 550px;
  position: relative;
  width: 550px;
  left: 155px;
  top: 171px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.img-fluid {
  border-radius: 20px;
}

.btn-dark {
  background-color: #c1b688;
  border: #c1b688;
}

.form-control {
  height: 52px;
  background-color: whitesmoke;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid black;
}

.form-control[type=text]:focus {
  border: 2px solid black;
}

@media only screen and (max-width: 600px) {
  .first-col {
    position: initial;
    left: 0;
  }
}
/*FIN CONTACTO AND MEDIA*/
.offcanvas {
  background-color: whitesmoke;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

#instagram {
  background: linear-gradient(135deg, #833AB4, #F77737);
}

#facebook {
  background: #1877F2;
}

#whatsapp {
  background: #25D366;
}

#twitter {
  background: #1DA1F2;
}

@media (max-width: 768px) {
  .navbar-nav > li:hover {
    background-color: gray;
  }
}
/* Inicio Main */
/* contenido principal */
.contenedor-img {
  background-image: url(../Img/section-photo.jpg);
  background-size: cover;
  min-height: 75vh;
  border: solid 1px black;
  width: 100%;
}
.contenedor-img .contenido-principal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 50vh;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 10px;
}
.contenedor-img .contenido-principal a {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 10px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.contenedor-img .contenido-principal a:hover {
  background-color: black;
  color: whitesmoke;
}
.contenedor-img .contenido-principal a i {
  margin-right: 10px;
}
.contenedor-img .contenido-principal h1 {
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  padding: 5px;
  margin-left: 80px;
}

/* FIN CONTENIDO PRINCIPAL */
/* INICIO SERVICIOS INDEX */
.background-gray {
  border: solid 1px black;
}
.background-gray .otros-servicios {
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  color: whitesmoke;
  background-color: black;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 1s ease;
  font-size: 30px;
}
.background-gray .otros-servicios:hover {
  background-color: whitesmoke;
  color: black;
}

/* FIN SERVICIOS INDEX */
/*INICIO PRECIOS INDEX*/
.content-price {
  background-color: whitesmoke;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.lista-precios {
  color: whitesmoke;
  background-color: black;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: background-color 1s ease;
}
.lista-precios:hover {
  background-color: whitesmoke;
  color: black;
}

/*FIN PRECIOS INDEX*/
/* FIN INDEX */
/* INICIO @MEDIA */
/*MOBILE*/
/* Estilos para pantallas pequeñas */
@media (min-width: 320px) and (max-width: 576px) {
  .contenido-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenido-principal h1 {
    display: none;
  }
  .contenido-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  /* Servicios INDEX */
  .servicios-index {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios-manicure {
    height: 200px;
    margin: 10px;
  }
  .servicios {
    text-align: center;
    font-weight: 700;
  }
  .otros-servicios {
    font-size: 20px;
    padding: 5px 5px;
  }
  /* FIN SERVICIOS INDEX */
  /* SERVICIOS */
  .servicios-imagenes {
    gap: 30px;
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: "express1" "manicure-basic2" "manicure-premium3" "podoestetica4" "pedicure-basic5" "pedicure-premium6" "esmaltado-sempiermanente7" "esmaltado-decoracion8" "esmaltado-shine9" "servicio-esculpidas10" "servicio-vip11" "servicio-beauty12";
    grid-template-columns: 1fr;
  }
}
/* Tablet */
@media only screen and (min-width: 577px) and (max-width: 991px) {
  /* contenido principal */
  .contenido-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .contenido-principal h1 {
    display: none;
  }
  .contenido-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  /* fin contenido principal */
  /* inicio Servicios INDEX */
  .servicios-index {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios-manicure {
    height: 300px;
    margin: 20px;
  }
  .servicios {
    text-align: center;
    font-weight: 700;
  }
  .otros-servicios {
    font-size: 30px;
    padding: 5px 5px;
  }
  /*fin servicios INDEX  */
  /* SERVICIOS */
  .servicios-imagenes {
    gap: 30px;
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: "express1" "manicure-basic2" "manicure-premium3" "podoestetica4" "pedicure-basic5" "pedicure-premium6" "esmaltado-sempiermanente7" "esmaltado-decoracion8" "esmaltado-shine9" "servicio-esculpidas10" "servicio-vip11" "servicio-beauty12";
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
