 // HEADER y Media Menu Hamburguesa :D

    .offcanvas{
    background-color: $primary-color;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

#instagram{
    background:
    map-get($redes-sociales,instagram)
    
};
    #facebook{background: map-get($redes-sociales, facebook) 
    };
    #whatsapp{background: map-get($redes-sociales, whatsapp) 
    };
    #twitter{background: map-get($redes-sociales, twitter) 
    };

    @media(max-width:768px){

    .navbar-nav > li:hover{

    background-color: gray;

    }
}

