/* Inicio Main */



/* contenido principal */

.contenedor-img{

    background-image: url(../Img/section-photo.jpg);
    background-size: cover;
    min-height: 75vh;
    border: solid 1px $secondary-color;
    width: 100%;

    .contenido-principal{
        @include center-flex(flex,column,flex-start,center);
        min-height: 50vh;
        margin-top: 10px;
        border-radius: 20px;
        padding: 10px 10px;

        a{
            background-color: $primary-color;
        color: $secondary-color;
        border: 1px solid $secondary-color;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 20px;
        padding: 10px 10px;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover{

            background-color: $secondary-color;
            color: $primary-color;
        }

        i{
            margin-right: 10px;
        }
        }

        h1{
            background-color: $secondary-color;
            color: $primary-color;
            border-radius: 10px;
            padding: 5px;
            margin-left: 80px;
        }
    }
}
/* FIN CONTENIDO PRINCIPAL */


/* INICIO SERVICIOS INDEX */

.background-gray{


    border: solid 1px $secondary-color;

    .otros-servicios{
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        color: $primary-color;
        background-color: $secondary-color;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        transition: background-color 1s ease;
        font-size: 30px;
        &:hover{
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
} 


/* FIN SERVICIOS INDEX */

/*INICIO PRECIOS INDEX*/

.content-price{
    background-color: $primary-color;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px; 
    -o-border-radius: 20px;
}


.lista-precios{
    color: $primary-color;
    background-color: $secondary-color;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: background-color 1s ease;
    &:hover{
        background-color: $primary-color;
        color: $secondary-color;
    }
        
    
}
/*FIN PRECIOS INDEX*/


/* FIN INDEX */